In [1]:
import pandas as pd
import numpy as np

In [2]:
clients = pd.read_csv("../data/raw/clients.csv")
clients.head()

    client_id     first_issue_date    first_redeem_date  age gender
0  000012768d  2017-08-05 15:40:48  2018-01-04 19:30:07   45      U
1  000036f903  2017-04-10 13:54:23  2017-04-23 12:37:56   72      F
2  000048b7a6  2018-12-15 13:33:11                  NaN   68      F
3  000073194a  2017-05-23 12:56:14  2017-11-24 11:18:01   60      F
4  00007c7133  2017-05-22 16:17:08  2018-12-31 17:17:33   67      U

In [4]:
purchases = pd.read_csv(
    "../data/raw/purchases.csv", 
    usecols=["client_id", "transaction_id", "transaction_datetime"],
    parse_dates=["transaction_datetime"]
)
purchases.head()

    client_id transaction_id transaction_datetime
0  000012768d     7e3e2e3984  2018-12-01 07:12:45
1  000012768d     7e3e2e3984  2018-12-01 07:12:45
2  000012768d     7e3e2e3984  2018-12-01 07:12:45
3  000012768d     7e3e2e3984  2018-12-01 07:12:45
4  000012768d     7e3e2e3984  2018-12-01 07:12:45

In [13]:
from datetime import datetime, timedelta

In [15]:
grouped_data = purchases.groupby("client_id", as_index=False)["transaction_datetime"].max()
grouped_data.head()

    client_id transaction_datetime
0  000012768d  2019-03-14 15:01:47
1  000036f903  2019-03-17 10:29:37
2  000048b7a6  2019-03-12 10:28:19
3  000073194a  2019-03-16 09:41:21
4  00007c7133  2019-03-04 16:23:30

In [16]:
grouped_data["transaction_datetime"].max()

Timestamp('2019-03-18 23:40:03')

In [30]:
grouped_data["recency"] = (grouped_data["transaction_datetime"].max() - grouped_data["transaction_datetime"]).dt.days
grouped_data["recency"] .head(10)

0     4
1     1
2     6
3     2
4    14
5     3
6     3
7     0
8     9
9     2
Name: recency, dtype: int64

In [34]:
grouped_data[["client_id", "recency"]].to_csv("../data/processed/recency.csv", index=False)