In [1]:
from datetime import datetime
import pickle

import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.ensemble import RandomForestClassifier

In [2]:
def uplift_score(prediction, treatment, target, rate=0.3):
    """
    Подсчет Uplift Score
    """
    order = np.argsort(-prediction)
    treatment_n = int((treatment == 1).sum() * rate)
    treatment_p = target[order][treatment[order] == 1][:treatment_n].mean()
    control_n = int((treatment == 0).sum() * rate)
    control_p = target[order][treatment[order] == 0][:control_n].mean()
    score = treatment_p - control_p
    return score

In [3]:
X_control_train = pd.read_csv(
    "../data/processed/two_models/X_control_train.csv", index_col="client_id"
)
y_control_train = pd.read_csv(
    "../data/processed/two_models/y_control_train.csv",
    header=None,
    names=["client_id", "target"],
    index_col="client_id"
)["target"]

X_treatment_train = pd.read_csv(
    "../data/processed/two_models/X_treatment_train.csv", index_col="client_id"
)
y_treatment_train = pd.read_csv(
    "../data/processed/two_models/y_treatment_train.csv",
    header=None,
    names=["client_id", "target"],
    index_col="client_id"
)["target"]

X_control_train.head()

,age,n_transactions,stddev_transaction_time,mode_transaction_weekday,sum_regular_points_received,sum_express_points_received,sum_regular_points_spent,sum_express_points_spent,avg_regular_points_received,avg_express_points_received,...,first_issue_weekday,first_issue_dayofmonth,first_issue_year,first_issue_month,first_issue_weekofyear,first_issue_week,first_issue_quarter,avg_transaction_hour,avg_transaction_minute,avg_transaction_seconds
client_id,,,,,,,,,,,,,,,,,,,,,
000220a0a7,115,15,7516.482892,2.0,896.6,0.0,0.0,0.0,10.548235,0.0,...,5,9,2017,12,49,49,4,15,49,39
0002ce2217,38,13,11973.352672,6.0,219.4,0.0,0.0,0.0,3.047222,0.0,...,2,26,2017,7,30,30,3,10,31,24
00031cbbe6,48,29,9344.993547,6.0,616.8,0.0,-126.0,0.0,4.405714,0.0,...,6,28,2017,5,21,21,2,11,42,54
00035a21d9,69,3,4246.954662,6.0,259.2,0.0,-104.0,-390.0,9.969231,0.0,...,5,9,2019,2,6,6,1,11,33,8
00042a927a,55,17,13078.579713,1.0,336.8,0.0,-1614.0,-150.0,4.881159,0.0,...,3,19,2017,10,42,42,4,13,33,55

In [5]:
X_control_train.dtypes

age                                  int64
n_transactions                       int64
stddev_transaction_time            float64
mode_transaction_weekday           float64
sum_regular_points_received        float64
sum_express_points_received        float64
sum_regular_points_spent           float64
sum_express_points_spent           float64
avg_regular_points_received        float64
avg_express_points_received        float64
avg_regular_points_spent           float64
avg_express_points_spent           float64
stdddev_regular_points_received    float64
stdddev_express_points_received    float64
stdddev_regular_points_spent       float64
stdddev_express_points_spent       float64
sum_purchase_sum                   float64
avg_purchase_sum                   float64
stddev_purchase_sum                float64
sum_product_quantity               float64
avg_product_quantity               float64
stddev_product_quantity            float64
sum_trn_sum_from_iss               float64
avg_trn_sum_from_iss               float64
stddev_trn_sum_from_iss            float64
sum_trn_sum_from_red               float64
avg_trn_sum_from_red               float64
stddev_trn_sum_from_red            float64
n_stores                             int64
strange_age                          int64
gender_F                             int64
gender_M                             int64
gender_U                             int64
redeem_issue_diff                  float64
first_issue_dayofyear                int64
first_issue_hour                     int64
first_issue_weekday                  int64
first_issue_dayofmonth               int64
first_issue_year                     int64
first_issue_month                    int64
first_issue_weekofyear               int64
first_issue_week                     int64
first_issue_quarter                  int64
avg_transaction_hour                 int64
avg_transaction_minute               int64
avg_transaction_seconds              int64
dtype: object

In [4]:
y_control_train.head()

client_id
000220a0a7    1
0002ce2217    1
00031cbbe6    1
00035a21d9    0
00042a927a    1
Name: target, dtype: int64

In [6]:
X_treatment_train.head()

,age,n_transactions,stddev_transaction_time,mode_transaction_weekday,sum_regular_points_received,sum_express_points_received,sum_regular_points_spent,sum_express_points_spent,avg_regular_points_received,avg_express_points_received,...,first_issue_weekday,first_issue_dayofmonth,first_issue_year,first_issue_month,first_issue_weekofyear,first_issue_week,first_issue_quarter,avg_transaction_hour,avg_transaction_minute,avg_transaction_seconds
client_id,,,,,,,,,,,,,,,,,,,,,
000036f903,72,32,3027.667379,0.0,348.3,360.0,0.0,0.0,2.150000,2.222222,...,0,10,2017,4,15,15,2,10,35,56
00010925a5,83,18,7944.017131,2.0,163.0,0.0,-85.0,0.0,2.089744,0.000000,...,1,24,2018,7,30,30,3,10,54,13
0001f552b0,33,15,13764.619367,6.0,552.2,0.0,0.0,0.0,6.420930,0.000000,...,4,30,2017,6,26,26,2,12,45,6
00038f9200,79,48,7773.580823,0.0,351.7,0.0,-87.0,0.0,2.225949,0.000000,...,4,7,2018,12,49,49,4,10,4,29
00047b3720,53,35,8019.326664,0.0,1399.4,0.0,-20.0,0.0,5.665587,0.000000,...,5,13,2018,10,41,41,4,11,49,58

In [7]:
y_treatment_train.head()

client_id
000036f903    1
00010925a5    1
0001f552b0    1
00038f9200    1
00047b3720    0
Name: target, dtype: int64

In [8]:
X_valid = pd.read_csv("../data/processed/two_models/X_valid.csv", index_col="client_id")
y_valid = pd.read_csv(
    "../data/processed/two_models/y_valid.csv",
    header=None,
    names=["client_id", "target"],
    index_col="client_id"
)["target"]

valid_is_treatment = pd.read_csv(
    "../data/processed/two_models/valid_is_treatment.csv",
    header=None,
    names=["client_id", "is_treatment"],
    index_col="client_id"
)["is_treatment"]

In [10]:
X_valid.head()

,age,n_transactions,stddev_transaction_time,mode_transaction_weekday,sum_regular_points_received,sum_express_points_received,sum_regular_points_spent,sum_express_points_spent,avg_regular_points_received,avg_express_points_received,...,first_issue_weekday,first_issue_dayofmonth,first_issue_year,first_issue_month,first_issue_weekofyear,first_issue_week,first_issue_quarter,avg_transaction_hour,avg_transaction_minute,avg_transaction_seconds
client_id,,,,,,,,,,,,,,,,,,,,,
ac126a8be6,27,7,13044.929018,1.0,1169.8,0.0,0.0,0.0,13.762353,0.0,...,3,22,2017,6,25,25,2,12,10,48
ba4a67aba7,81,21,3820.134196,1.0,269.0,0.0,0.0,0.0,4.138462,0.0,...,0,25,2017,12,52,52,4,7,56,59
b2fc4ea450,18,11,10384.181488,1.0,36.6,0.0,0.0,0.0,0.963158,0.0,...,1,6,2018,3,10,10,1,13,31,22
67dc2d5e46,31,3,8024.537150,0.0,79.9,0.0,0.0,0.0,4.700000,0.0,...,0,19,2017,6,25,25,2,12,10,31
7b061de2b1,57,8,9716.485661,0.0,48.3,0.0,0.0,0.0,2.012500,0.0,...,2,12,2017,7,28,28,3,13,9,38

In [13]:
assert X_control_train.columns.tolist() == X_treatment_train.columns.tolist() == X_valid.columns.tolist()

In [14]:
X_test = pd.read_csv("../data/processed/two_models/X_test.csv", index_col="client_id")
X_test.head()

,age,n_transactions,stddev_transaction_time,mode_transaction_weekday,sum_regular_points_received,sum_express_points_received,sum_regular_points_spent,sum_express_points_spent,avg_regular_points_received,avg_express_points_received,...,first_issue_weekday,first_issue_dayofmonth,first_issue_year,first_issue_month,first_issue_weekofyear,first_issue_week,first_issue_quarter,avg_transaction_hour,avg_transaction_minute,avg_transaction_seconds
client_id,,,,,,,,,,,,,,,,,,,,,
000048b7a6,68,8,3559.363432,6.0,218.8,0.0,0.0,0.0,3.907143,0.0,...,5,15,2018,12,50,50,4,10,14,12
000073194a,60,17,5256.161881,4.0,518.8,0.0,-576.0,0.0,6.326829,0.0,...,1,23,2017,5,21,21,2,10,17,26
00007c7133,67,11,12254.384311,6.0,459.7,0.0,-1680.0,0.0,5.538554,0.0,...,0,22,2017,5,21,21,2,13,30,51
00007f9014,45,29,10474.665113,5.0,263.2,0.0,-635.0,0.0,2.371171,0.0,...,1,22,2017,8,34,34,3,14,19,23
0000a90cf7,45,35,12898.474409,4.0,1087.9,0.0,-983.0,0.0,6.216571,0.0,...,5,20,2017,5,20,20,2,11,14,55

In [15]:
assert X_control_train.columns.tolist() == X_treatment_train.columns.tolist() == X_valid.columns.tolist() == X_test.columns.tolist()

In [16]:
X_control_train["is_treatment"] = 0
X_treatment_train["is_treatment"] = 1
X_train = pd.concat([X_control_train, X_treatment_train], ignore_index=False)
X_train.head()

,age,n_transactions,stddev_transaction_time,mode_transaction_weekday,sum_regular_points_received,sum_express_points_received,sum_regular_points_spent,sum_express_points_spent,avg_regular_points_received,avg_express_points_received,...,first_issue_dayofmonth,first_issue_year,first_issue_month,first_issue_weekofyear,first_issue_week,first_issue_quarter,avg_transaction_hour,avg_transaction_minute,avg_transaction_seconds,is_treatment
client_id,,,,,,,,,,,,,,,,,,,,,
000220a0a7,115,15,7516.482892,2.0,896.6,0.0,0.0,0.0,10.548235,0.0,...,9,2017,12,49,49,4,15,49,39,0
0002ce2217,38,13,11973.352672,6.0,219.4,0.0,0.0,0.0,3.047222,0.0,...,26,2017,7,30,30,3,10,31,24,0
00031cbbe6,48,29,9344.993547,6.0,616.8,0.0,-126.0,0.0,4.405714,0.0,...,28,2017,5,21,21,2,11,42,54,0
00035a21d9,69,3,4246.954662,6.0,259.2,0.0,-104.0,-390.0,9.969231,0.0,...,9,2019,2,6,6,1,11,33,8,0
00042a927a,55,17,13078.579713,1.0,336.8,0.0,-1614.0,-150.0,4.881159,0.0,...,19,2017,10,42,42,4,13,33,55,0

In [21]:
X_train["target"] = pd.concat([y_control_train, y_treatment_train], ignore_index=False)

In [27]:
X_train["Z"] = (
    (
        (X_train["is_treatment"] == 1) & (X_train["target"] == 1)
    ) | (
        (X_train["is_treatment"] == 0) & (X_train["target"] == 0)
    )
)
X_train.head()

,age,n_transactions,stddev_transaction_time,mode_transaction_weekday,sum_regular_points_received,sum_express_points_received,sum_regular_points_spent,sum_express_points_spent,avg_regular_points_received,avg_express_points_received,...,first_issue_month,first_issue_weekofyear,first_issue_week,first_issue_quarter,avg_transaction_hour,avg_transaction_minute,avg_transaction_seconds,is_treatment,target,Z
client_id,,,,,,,,,,,,,,,,,,,,,
000220a0a7,115,15,7516.482892,2.0,896.6,0.0,0.0,0.0,10.548235,0.0,...,12,49,49,4,15,49,39,0,1,False
0002ce2217,38,13,11973.352672,6.0,219.4,0.0,0.0,0.0,3.047222,0.0,...,7,30,30,3,10,31,24,0,1,False
00031cbbe6,48,29,9344.993547,6.0,616.8,0.0,-126.0,0.0,4.405714,0.0,...,5,21,21,2,11,42,54,0,1,False
00035a21d9,69,3,4246.954662,6.0,259.2,0.0,-104.0,-390.0,9.969231,0.0,...,2,6,6,1,11,33,8,0,0,True
00042a927a,55,17,13078.579713,1.0,336.8,0.0,-1614.0,-150.0,4.881159,0.0,...,10,42,42,4,13,33,55,0,1,False

In [28]:
X_train["Z"] = X_train["Z"].astype(int)
X_train.head()

,age,n_transactions,stddev_transaction_time,mode_transaction_weekday,sum_regular_points_received,sum_express_points_received,sum_regular_points_spent,sum_express_points_spent,avg_regular_points_received,avg_express_points_received,...,first_issue_month,first_issue_weekofyear,first_issue_week,first_issue_quarter,avg_transaction_hour,avg_transaction_minute,avg_transaction_seconds,is_treatment,target,Z
client_id,,,,,,,,,,,,,,,,,,,,,
000220a0a7,115,15,7516.482892,2.0,896.6,0.0,0.0,0.0,10.548235,0.0,...,12,49,49,4,15,49,39,0,1,0
0002ce2217,38,13,11973.352672,6.0,219.4,0.0,0.0,0.0,3.047222,0.0,...,7,30,30,3,10,31,24,0,1,0
00031cbbe6,48,29,9344.993547,6.0,616.8,0.0,-126.0,0.0,4.405714,0.0,...,5,21,21,2,11,42,54,0,1,0
00035a21d9,69,3,4246.954662,6.0,259.2,0.0,-104.0,-390.0,9.969231,0.0,...,2,6,6,1,11,33,8,0,0,1
00042a927a,55,17,13078.579713,1.0,336.8,0.0,-1614.0,-150.0,4.881159,0.0,...,10,42,42,4,13,33,55,0,1,0

In [30]:
y_train = X_train["Z"]
X_train = X_train.drop(["is_treatment", "target", "Z"], axis=1)
X_train.head()

,age,n_transactions,stddev_transaction_time,mode_transaction_weekday,sum_regular_points_received,sum_express_points_received,sum_regular_points_spent,sum_express_points_spent,avg_regular_points_received,avg_express_points_received,...,first_issue_weekday,first_issue_dayofmonth,first_issue_year,first_issue_month,first_issue_weekofyear,first_issue_week,first_issue_quarter,avg_transaction_hour,avg_transaction_minute,avg_transaction_seconds
client_id,,,,,,,,,,,,,,,,,,,,,
000220a0a7,115,15,7516.482892,2.0,896.6,0.0,0.0,0.0,10.548235,0.0,...,5,9,2017,12,49,49,4,15,49,39
0002ce2217,38,13,11973.352672,6.0,219.4,0.0,0.0,0.0,3.047222,0.0,...,2,26,2017,7,30,30,3,10,31,24
00031cbbe6,48,29,9344.993547,6.0,616.8,0.0,-126.0,0.0,4.405714,0.0,...,6,28,2017,5,21,21,2,11,42,54
00035a21d9,69,3,4246.954662,6.0,259.2,0.0,-104.0,-390.0,9.969231,0.0,...,5,9,2019,2,6,6,1,11,33,8
00042a927a,55,17,13078.579713,1.0,336.8,0.0,-1614.0,-150.0,4.881159,0.0,...,3,19,2017,10,42,42,4,13,33,55

In [31]:
X_train.columns.tolist() == X_test.columns.tolist()

True

In [38]:
valid_is_treatment.index.tolist() == y_valid.index.tolist()

True

In [33]:
X_valid["Z"] = (
    (
        (valid_is_treatment == 1) & (y_valid == 1)
    ) | (
        (valid_is_treatment == 0) & (y_valid == 0)
    )
)
X_valid["Z"] = X_valid["Z"].astype(int)
y_valid = X_valid["Z"]
X_valid = X_valid.drop(["Z"], axis=1)
X_valid.head()

,age,n_transactions,stddev_transaction_time,mode_transaction_weekday,sum_regular_points_received,sum_express_points_received,sum_regular_points_spent,sum_express_points_spent,avg_regular_points_received,avg_express_points_received,...,first_issue_weekday,first_issue_dayofmonth,first_issue_year,first_issue_month,first_issue_weekofyear,first_issue_week,first_issue_quarter,avg_transaction_hour,avg_transaction_minute,avg_transaction_seconds
client_id,,,,,,,,,,,,,,,,,,,,,
ac126a8be6,27,7,13044.929018,1.0,1169.8,0.0,0.0,0.0,13.762353,0.0,...,3,22,2017,6,25,25,2,12,10,48
ba4a67aba7,81,21,3820.134196,1.0,269.0,0.0,0.0,0.0,4.138462,0.0,...,0,25,2017,12,52,52,4,7,56,59
b2fc4ea450,18,11,10384.181488,1.0,36.6,0.0,0.0,0.0,0.963158,0.0,...,1,6,2018,3,10,10,1,13,31,22
67dc2d5e46,31,3,8024.537150,0.0,79.9,0.0,0.0,0.0,4.700000,0.0,...,0,19,2017,6,25,25,2,12,10,31
7b061de2b1,57,8,9716.485661,0.0,48.3,0.0,0.0,0.0,2.012500,0.0,...,2,12,2017,7,28,28,3,13,9,38

In [34]:
X_train.columns.tolist() == X_valid.columns.tolist() == X_test.columns.tolist()

True

In [35]:
clf = RandomForestClassifier()
X_train = X_train.fillna(-999)
X_valid = X_valid.fillna(-999)
clf.fit(X_train, y_train)
print(clf.score(X_train, y_train))
print(f"Accuracy on validation set: {clf.score(X_valid, y_valid)}")

/home/anton/Documents/work/projects/retailhero_uplift/venv/lib/python3.6/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.9860955387175331
Accuracy on validation set: 0.47280543891221755

In [39]:
eval_set = [(X_train, y_train), (X_valid, y_valid)]
eval_metric = ["auc","error"]
model = xgb.XGBClassifier()
model.fit(X_train, y_train, eval_metric=eval_metric, eval_set=eval_set, verbose=True)

[0]	validation_0-auc:0.513712	validation_0-error:0.482943	validation_1-auc:0.450605	validation_1-error:0.43503
[1]	validation_0-auc:0.51543	validation_0-error:0.482307	validation_1-auc:0.433437	validation_1-error:0.435146
[2]	validation_0-auc:0.517918	validation_0-error:0.482336	validation_1-auc:0.402781	validation_1-error:0.431964
[3]	validation_0-auc:0.518685	validation_0-error:0.483457	validation_1-auc:0.394857	validation_1-error:0.383123
[4]	validation_0-auc:0.520207	validation_0-error:0.483164	validation_1-auc:0.407901	validation_1-error:0.40037
[5]	validation_0-auc:0.520415	validation_0-error:0.482514	validation_1-auc:0.408595	validation_1-error:0.404269
[6]	validation_0-auc:0.520477	validation_0-error:0.482386	validation_1-auc:0.4107	validation_1-error:0.403003
[7]	validation_0-auc:0.522019	validation_0-error:0.482536	validation_1-auc:0.407879	validation_1-error:0.403019
[8]	validation_0-auc:0.522588	validation_0-error:0.482221	validation_1-auc:0.412747	validation_1-error:0.403069
[9]	validation_0-auc:0.524054	validation_0-error:0.481579	validation_1-auc:0.413111	validation_1-error:0.401903
[10]	validation_0-auc:0.52419	validation_0-error:0.481371	validation_1-auc:0.414563	validation_1-error:0.40152
[11]	validation_0-auc:0.524476	validation_0-error:0.481529	validation_1-auc:0.409557	validation_1-error:0.405202
[12]	validation_0-auc:0.525178	validation_0-error:0.481143	validation_1-auc:0.415226	validation_1-error:0.40202
[13]	validation_0-auc:0.526504	validation_0-error:0.480743	validation_1-auc:0.411713	validation_1-error:0.404386
[14]	validation_0-auc:0.526445	validation_0-error:0.480879	validation_1-auc:0.413868	validation_1-error:0.403403
[15]	validation_0-auc:0.52716	validation_0-error:0.480779	validation_1-auc:0.40839	validation_1-error:0.406852
[16]	validation_0-auc:0.527642	validation_0-error:0.480586	validation_1-auc:0.413569	validation_1-error:0.402453
[17]	validation_0-auc:0.527494	validation_0-error:0.48065	validation_1-auc:0.416256	validation_1-error:0.403103
[18]	validation_0-auc:0.528372	validation_0-error:0.480315	validation_1-auc:0.411319	validation_1-error:0.405669
[19]	validation_0-auc:0.528828	validation_0-error:0.480186	validation_1-auc:0.413378	validation_1-error:0.404769
[20]	validation_0-auc:0.528889	validation_0-error:0.480229	validation_1-auc:0.413167	validation_1-error:0.404586
[21]	validation_0-auc:0.530015	validation_0-error:0.480057	validation_1-auc:0.416502	validation_1-error:0.403869
[22]	validation_0-auc:0.530452	validation_0-error:0.479993	validation_1-auc:0.41738	validation_1-error:0.402719
[23]	validation_0-auc:0.531054	validation_0-error:0.480179	validation_1-auc:0.419934	validation_1-error:0.401136
[24]	validation_0-auc:0.531548	validation_0-error:0.479722	validation_1-auc:0.424828	validation_1-error:0.40017
[25]	validation_0-auc:0.532141	validation_0-error:0.479836	validation_1-auc:0.422563	validation_1-error:0.403403
[26]	validation_0-auc:0.53235	validation_0-error:0.479779	validation_1-auc:0.423197	validation_1-error:0.402986
[27]	validation_0-auc:0.532592	validation_0-error:0.480029	validation_1-auc:0.425243	validation_1-error:0.404552
[28]	validation_0-auc:0.532695	validation_0-error:0.47995	validation_1-auc:0.42519	validation_1-error:0.404202
[29]	validation_0-auc:0.533039	validation_0-error:0.4796	validation_1-auc:0.422666	validation_1-error:0.407002
[30]	validation_0-auc:0.533607	validation_0-error:0.4793	validation_1-auc:0.423173	validation_1-error:0.406985
[31]	validation_0-auc:0.533963	validation_0-error:0.4792	validation_1-auc:0.42404	validation_1-error:0.406402
[32]	validation_0-auc:0.534325	validation_0-error:0.479165	validation_1-auc:0.425301	validation_1-error:0.406135
[33]	validation_0-auc:0.5347	validation_0-error:0.479029	validation_1-auc:0.424971	validation_1-error:0.406019
[34]	validation_0-auc:0.535123	validation_0-error:0.478886	validation_1-auc:0.425184	validation_1-error:0.405869
[35]	validation_0-auc:0.53577	validation_0-error:0.478529	validation_1-auc:0.42526	validation_1-error:0.405869
[36]	validation_0-auc:0.53663	validation_0-error:0.477979	validation_1-auc:0.424356	validation_1-error:0.406535
[37]	validation_0-auc:0.537104	validation_0-error:0.477765	validation_1-auc:0.425028	validation_1-error:0.407485
[38]	validation_0-auc:0.537699	validation_0-error:0.477651	validation_1-auc:0.426606	validation_1-error:0.408052
[39]	validation_0-auc:0.537879	validation_0-error:0.477608	validation_1-auc:0.426479	validation_1-error:0.407902
[40]	validation_0-auc:0.538192	validation_0-error:0.477344	validation_1-auc:0.428823	validation_1-error:0.410251
[41]	validation_0-auc:0.53852	validation_0-error:0.477215	validation_1-auc:0.42882	validation_1-error:0.410335
[42]	validation_0-auc:0.538701	validation_0-error:0.476801	validation_1-auc:0.42562	validation_1-error:0.412684
[43]	validation_0-auc:0.539159	validation_0-error:0.476622	validation_1-auc:0.425918	validation_1-error:0.413051
[44]	validation_0-auc:0.539329	validation_0-error:0.476558	validation_1-auc:0.426007	validation_1-error:0.412984
[45]	validation_0-auc:0.539771	validation_0-error:0.476058	validation_1-auc:0.426158	validation_1-error:0.412684
[46]	validation_0-auc:0.539752	validation_0-error:0.476072	validation_1-auc:0.426125	validation_1-error:0.412717
[47]	validation_0-auc:0.540363	validation_0-error:0.476001	validation_1-auc:0.42667	validation_1-error:0.412784
[48]	validation_0-auc:0.540469	validation_0-error:0.475773	validation_1-auc:0.4256	validation_1-error:0.413234
[49]	validation_0-auc:0.540906	validation_0-error:0.476087	validation_1-auc:0.426176	validation_1-error:0.413884
[50]	validation_0-auc:0.541183	validation_0-error:0.476058	validation_1-auc:0.428049	validation_1-error:0.413101
[51]	validation_0-auc:0.541812	validation_0-error:0.475123	validation_1-auc:0.424466	validation_1-error:0.415684
[52]	validation_0-auc:0.542743	validation_0-error:0.474601	validation_1-auc:0.424194	validation_1-error:0.416283
[53]	validation_0-auc:0.54317	validation_0-error:0.47438	validation_1-auc:0.424508	validation_1-error:0.4162
[54]	validation_0-auc:0.543546	validation_0-error:0.474216	validation_1-auc:0.424922	validation_1-error:0.416267
[55]	validation_0-auc:0.543572	validation_0-error:0.473937	validation_1-auc:0.426386	validation_1-error:0.416817
[56]	validation_0-auc:0.543649	validation_0-error:0.473916	validation_1-auc:0.426378	validation_1-error:0.4168
[57]	validation_0-auc:0.544248	validation_0-error:0.473409	validation_1-auc:0.426435	validation_1-error:0.416233
[58]	validation_0-auc:0.544699	validation_0-error:0.473323	validation_1-auc:0.428078	validation_1-error:0.416
[59]	validation_0-auc:0.544908	validation_0-error:0.473273	validation_1-auc:0.429305	validation_1-error:0.416567
[60]	validation_0-auc:0.544927	validation_0-error:0.473316	validation_1-auc:0.429352	validation_1-error:0.416567
[61]	validation_0-auc:0.544994	validation_0-error:0.473309	validation_1-auc:0.428854	validation_1-error:0.416717
[62]	validation_0-auc:0.545092	validation_0-error:0.473273	validation_1-auc:0.428878	validation_1-error:0.416667
[63]	validation_0-auc:0.545335	validation_0-error:0.473237	validation_1-auc:0.42937	validation_1-error:0.417317
[64]	validation_0-auc:0.545623	validation_0-error:0.473094	validation_1-auc:0.429377	validation_1-error:0.41735
[65]	validation_0-auc:0.545667	validation_0-error:0.473066	validation_1-auc:0.429434	validation_1-error:0.41725
[66]	validation_0-auc:0.54572	validation_0-error:0.473023	validation_1-auc:0.42962	validation_1-error:0.4172
[67]	validation_0-auc:0.546011	validation_0-error:0.472944	validation_1-auc:0.430274	validation_1-error:0.416917
[68]	validation_0-auc:0.546593	validation_0-error:0.47303	validation_1-auc:0.428845	validation_1-error:0.41865
[69]	validation_0-auc:0.547162	validation_0-error:0.472816	validation_1-auc:0.429885	validation_1-error:0.4189
[70]	validation_0-auc:0.547319	validation_0-error:0.472595	validation_1-auc:0.430172	validation_1-error:0.418716
[71]	validation_0-auc:0.547689	validation_0-error:0.472623	validation_1-auc:0.431946	validation_1-error:0.418216
[72]	validation_0-auc:0.548166	validation_0-error:0.47238	validation_1-auc:0.429496	validation_1-error:0.419633
[73]	validation_0-auc:0.548855	validation_0-error:0.472245	validation_1-auc:0.428687	validation_1-error:0.421049
[74]	validation_0-auc:0.549354	validation_0-error:0.471409	validation_1-auc:0.429152	validation_1-error:0.421432
[75]	validation_0-auc:0.550077	validation_0-error:0.471195	validation_1-auc:0.43038	validation_1-error:0.422615
[76]	validation_0-auc:0.550303	validation_0-error:0.470966	validation_1-auc:0.429775	validation_1-error:0.422782
[77]	validation_0-auc:0.550526	validation_0-error:0.470959	validation_1-auc:0.429976	validation_1-error:0.422765
[78]	validation_0-auc:0.550659	validation_0-error:0.470766	validation_1-auc:0.430217	validation_1-error:0.422849
[79]	validation_0-auc:0.550622	validation_0-error:0.470781	validation_1-auc:0.429446	validation_1-error:0.423215
[80]	validation_0-auc:0.550911	validation_0-error:0.470466	validation_1-auc:0.430108	validation_1-error:0.423349
[81]	validation_0-auc:0.551042	validation_0-error:0.470374	validation_1-auc:0.43174	validation_1-error:0.423549
[82]	validation_0-auc:0.551444	validation_0-error:0.470424	validation_1-auc:0.431033	validation_1-error:0.424748
[83]	validation_0-auc:0.551459	validation_0-error:0.470374	validation_1-auc:0.430999	validation_1-error:0.424798
[84]	validation_0-auc:0.551532	validation_0-error:0.470245	validation_1-auc:0.432614	validation_1-error:0.423982
[85]	validation_0-auc:0.55157	validation_0-error:0.470245	validation_1-auc:0.432622	validation_1-error:0.424015
[86]	validation_0-auc:0.552278	validation_0-error:0.469988	validation_1-auc:0.432556	validation_1-error:0.424465
[87]	validation_0-auc:0.552464	validation_0-error:0.470081	validation_1-auc:0.433064	validation_1-error:0.424348
[88]	validation_0-auc:0.552645	validation_0-error:0.469974	validation_1-auc:0.433095	validation_1-error:0.424415
[89]	validation_0-auc:0.552641	validation_0-error:0.469952	validation_1-auc:0.433121	validation_1-error:0.424432
[90]	validation_0-auc:0.55281	validation_0-error:0.470031	validation_1-auc:0.43316	validation_1-error:0.424482
[91]	validation_0-auc:0.553208	validation_0-error:0.469709	validation_1-auc:0.433275	validation_1-error:0.425282
[92]	validation_0-auc:0.55361	validation_0-error:0.469717	validation_1-auc:0.434235	validation_1-error:0.425415
[93]	validation_0-auc:0.554059	validation_0-error:0.469695	validation_1-auc:0.433181	validation_1-error:0.426798
[94]	validation_0-auc:0.554814	validation_0-error:0.469017	validation_1-auc:0.434253	validation_1-error:0.426065
[95]	validation_0-auc:0.554853	validation_0-error:0.468952	validation_1-auc:0.434266	validation_1-error:0.426031
[96]	validation_0-auc:0.554935	validation_0-error:0.46896	validation_1-auc:0.434236	validation_1-error:0.426115
[97]	validation_0-auc:0.554988	validation_0-error:0.46876	validation_1-auc:0.434363	validation_1-error:0.425981
[98]	validation_0-auc:0.555021	validation_0-error:0.468731	validation_1-auc:0.434427	validation_1-error:0.425965
[99]	validation_0-auc:0.555114	validation_0-error:0.468588	validation_1-auc:0.434937	validation_1-error:0.426431

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [40]:
model.score(X_train, y_train)

0.5314117991530205

In [41]:
model.score(X_valid, y_valid)

0.5735686196094114