In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.base import clone
import xgboost

In [2]:
clients_df = pd.read_csv("../../data/raw/clients.csv", parse_dates=['first_issue_date', 'first_redeem_date'])
# products_df = pd.read_csv("../../data/raw/products.csv")
# purchases_df = pd.read_csv("../../data/raw/purchases.csv", parse_dates=['transaction_datetime'])

In [3]:
clients_df['issue_dayofyear'] = clients_df['first_issue_date'].dt.dayofyear
clients_df['issue_hour'] = clients_df['first_issue_date'].dt.hour
clients_df['issue_weekday'] = clients_df['first_issue_date'].dt.weekday
clients_df['issue_dayofmonth'] = clients_df['first_issue_date'].dt.day
clients_df['issue_year'] = clients_df['first_issue_date'].dt.year
clients_df['issue_month'] = clients_df['first_issue_date'].dt.month
clients_df['issue_weekofyear'] = clients_df['first_issue_date'].dt.weekofyear
clients_df['issue_week'] = clients_df['first_issue_date'].dt.week
clients_df['issue_quarter'] = clients_df['first_issue_date'].dt.quarter

In [4]:
clients_df['redeem_issue_diff'] = (clients_df['first_redeem_date'] - clients_df['first_issue_date']).dt.total_seconds()
cat_col = "gender"
encoding = clients_df.groupby(f"{cat_col}").size()
encoding = encoding / clients_df.shape[0]
clients_df[f"{cat_col}_freq_enc"] = clients_df[f"{cat_col}"].map(encoding)

In [5]:
clients_df['strange_age'] = (clients_df['age'] < clients_df['age'].quantile(.01)) | (clients_df['age'] > clients_df['age'].quantile(.99))
clients_df['strange_age'] = clients_df['strange_age'].astype(int)

In [6]:
for value in clients_df['gender'].unique():
    clients_df[f'gender_{value}'] = (clients_df['gender'] == value).astype(int)

In [7]:
features = [
    "age",
    "gender_U",
    "gender_F",
    "gender_M",
    "issue_dayofyear",
    "issue_hour",
    "issue_weekday",
    "issue_dayofmonth",
    "issue_year",
    "issue_month",
    "issue_weekofyear",
    "issue_week",
    "issue_quarter",
    "redeem_issue_diff",
    "gender_freq_enc",
    "strange_age",
]
df = clients_df.set_index('client_id')[features]

In [8]:
train_df = pd.read_csv("../../data/raw/uplift_train.csv", index_col='client_id')
test_df = pd.read_csv("../../data/raw/uplift_test.csv", index_col='client_id')

In [9]:
train_df.head()

            treatment_flg  target
client_id
000012768d              0       1
000036f903              1       1
00010925a5              1       1
0001f552b0              1       1
00020e7b18              1       1

In [10]:
train_df['new_target'] = ((train_df['treatment_flg'] == 1) & (train_df['target'] ==  1)) | ((train_df['treatment_flg'] == 0) & (train_df['target'] == 0))
train_df['new_target'] = train_df['new_target'].astype(int)
train_df.head()

            treatment_flg  target  new_target
client_id
000012768d              0       1           0
000036f903              1       1           1
00010925a5              1       1           1
0001f552b0              1       1           1
00020e7b18              1       1           1

In [11]:
indices_train = train_df.index
indices_test = test_df.index
indices_learn, indices_valid = train_test_split(train_df.index, test_size=0.2, random_state=42)

In [23]:
df.head()

,age,gender_U,gender_F,gender_M,issue_dayofyear,issue_hour,issue_weekday,issue_dayofmonth,issue_year,issue_month,issue_weekofyear,issue_week,issue_quarter,redeem_issue_diff,gender_freq_enc,strange_age
client_id,,,,,,,,,,,,,,,,
000012768d,45,1,0,0,217,15,5,5,2017,8,31,31,3,13146559.0,0.464077,0
000036f903,72,0,1,0,100,13,0,10,2017,4,15,15,2,1118613.0,0.368973,0
000048b7a6,68,0,1,0,349,13,5,15,2018,12,50,50,4,NaN,0.368973,0
000073194a,60,0,1,0,143,12,1,23,2017,5,21,21,2,15978107.0,0.368973,0
00007c7133,67,1,0,0,142,16,0,22,2017,5,21,21,2,50806825.0,0.464077,0

In [22]:
X_train = df.loc[indices_learn, :]
y_train = train_df.loc[indices_learn, 'new_target']

X_test = df.loc[indices_valid, :]
y_test = train_df.loc[indices_valid, 'new_target']

clf = xgboost.XGBClassifier()
clf.fit(X_train, y_train)
predict_new_target = clf.predict_proba(X_test)[:, 1]
valid_uplift = (2 * predict_new_target) - 1
clf.score(X_test, y_test)

0.5170965806838632

In [19]:
n_users = int(len(valid_uplift) * 0.3)
df_valid_uplift = pd.DataFrame({'uplift': valid_uplift}, index=train_df.loc[indices_valid].index).sort_values(by='uplift', ascending=False)
df_valid_uplift['new_target'] = train_df.loc[indices_valid]['new_target']
df_valid_uplift['diff'] = df_valid_uplift['uplift'] - df_valid_uplift['new_target']
df_valid_uplift[:n_users]['diff'].mean()

-0.46572473645210266

In [27]:
predict_new_target = clf.predict_proba(df.loc[indices_test, :])[:, 1]
test_uplift = (2 * predict_new_target) - 1

In [28]:
df_submission = pd.DataFrame({'uplift': test_uplift}, index=test_df.index)
df_submission.to_csv('../../data/submissions/baseline_class_transformation.csv')

In [29]:
df_submission

              uplift
client_id
000048b7a6  0.003469
000073194a  0.039504
00007c7133  0.056646
00007f9014  0.014655
0000a90cf7  0.031699
0000b59cec  0.039774
0000bb4e4e  0.021165
0000bcec9c  0.017207
0000eecb82  0.007698
0000f0ecdb  0.000435
0003363542  0.002521
00034f1549  0.016175
00037a9650  0.010023
0003b55871  0.041807
00049b7bae  0.022587
0004b68a3a  0.016866
0004ce2e52 -0.002821
0004d028a5  0.039549
00051d6b59  0.044988
00055427d8  0.062669
0005ce475d  0.015471
0005d47bbf  0.041931
000687035e  0.024287
0006c801df  0.019755
0006f7f5cf  0.030523
0007379fdc  0.035433
00075162b6  0.037832
00077c053e  0.021237
0007c203da  0.025203
0008017403  0.023286
...              ...
fff4409afe  0.042777
fff4497abf  0.033311
fff4b64570  0.012160
fff4c25066  0.031836
fff54e0ea2  0.050939
fff5cdac77  0.028644
fff603683f -0.002311
fff63aab94  0.023949
fff6781a23  0.026682
fff6e1aca6  0.035267
fff7c1b831  0.058115
fff7dc2a6a  0.007801
fff7efa651  0.035028
fff7f63c94  0.059744
fff8879c93  0.081254
fff8dc6ad9  0.018006
fff8f92bc4  0.071359
fff9acceab  0.027734
fffa2941b3  0.054233
fffb23204d  0.013196
fffb310977  0.034604
fffbfc9346  0.075606
fffc68800d  0.063976
fffc6fd3ea  0.075301
fffde49bc6  0.046584
fffeacbe3e -0.002800
fffece623e  0.036329
ffff3dfff8  0.050226
ffffaab9da  0.012246
ffffeb5619 -0.000743

[200123 rows x 1 columns]

In [44]:
n_users = int(df.shape[0] * 0.3)
df_submission.sort_values(by='uplift', ascending=False)[:n_users] - df_

              uplift
client_id
a0c9132ca7  0.812842
9ffa63f10c  0.716443
ec2b70c3cf  0.706744
2eff5d3eef  0.678377
b534894551  0.651506
efd61e43fa  0.643815
fb68fb0e4a  0.640801
6ba86fa404  0.618017
ce231d4afa  0.605029
8cde72c289  0.577585
cc3da939cb  0.559847
0319f9b99b  0.547859
8b872f2196  0.545052
dd2eb74afd  0.543544
6365ea04bf  0.540973
82fdd6d854  0.530386
acf181cfb2  0.529852
b3ef7d26a6  0.529319
3d10f733b8  0.524076
37e4b6103d  0.522156
bb6d68d7cf  0.521285
74a3381d47  0.512666
7e1d9ec339  0.509711
e2e8d03f5e  0.509681
f484e46f27  0.508107
4a293fde67  0.499777
0cb67e2fc6  0.496563
6b47812959  0.494065
002559df6d  0.492449
c8cd3ec469  0.491130
...              ...
ca99726965  0.023788
c871e4bf8b  0.023788
6b341e1c98  0.023788
b17aba6b8b  0.023788
d8d5792289  0.023787
23dc09372b  0.023787
cf0a4cc66f  0.023787
fc5b2ab8a7  0.023786
c053d39b28  0.023786
58308c2b72  0.023786
dee3f8e535  0.023785
b114ea18f6  0.023785
8c14092cdd  0.023784
6abdfd5057  0.023784
4bdd6ffc60  0.023784
f40438aa34  0.023783
1c7415aa46  0.023783
775e617e0c  0.023783
b98ad802d8  0.023783
2e18fed158  0.023782
b17bc8c045  0.023782
d264a248f7  0.023781
dc72d70340  0.023781
8a8dbdc71e  0.023780
9c4911b725  0.023780
bd2cb7409a  0.023780
b1ba3ad7b7  0.023780
a8c37b5405  0.023779
f352436296  0.023779
ba2a7c0211  0.023779

[120048 rows x 1 columns]